<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="logo">
        <a href="#" (click)="scrollToElement('headerElement')"><img src="./assets/images/log.png" alt="logo"></a>
      </div>
      <div class="rights">Все права защищены, 2020</div>
    </div>
    <a class="footer__middle" [href]="socials.instagram">
      <img src="./assets/images/instagram.png" alt="instagram logo">
      <div class="footer__middle-text">Мы в Instagram</div>
    </a>
    <div class="footer__right">
      <div class="number">{{socials.phone}}</div>
    </div>
  </div>
</footer>
