<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="logo">
        <a href="#"><img src="./assets/images/log.png" alt="logo"></a>
      </div>
      <div class="rights">Все права защищены, 2020</div>
    </div>
    <div class="footer__middle">
      <img src="./assets/images/instagram.png" alt="instagram logo">
      <div class="footer__middle-text">Мы в Instagram</div>
    </div>
    <div class="footer__right">
      <div class="number">+375 (29) 368-98-68</div>
    </div>
  </div>
</footer>
