<section class="main">
  <div class="container">
    <div class="main__text-block">
      <div class="main__title">
        <h1>Мягкие французские
          пироженки Macaroons</h1>
      </div>
      <div class="main__description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" (click)="scrollTo(chooseElement)" appButtonEffects >Выбрать макарун</button>
      </div>
    </div>
    <div class="main__image">
      <img src="../assets/images/pic1.png" alt="macaroons in box">
      <div class="circle"></div>
      <div class="circle1"></div>
    </div>
  </div>
</section>

<section class="info" id="info">
  <div class="container info__container">
    <div class="info__top-block">
      <div class="info__top-block__text">
        <h2>Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <div class="info__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="info__image">
        <img src="../assets/images/pic2.png" alt="Big macaroon">
      </div>
    </div>
    <div class="info__bottom-block">
      <div class="info__items">
        <div class="info__item" *ngFor="let advantage of advantages, let i = index">
          <div class="info__ellipse">
            <div class="info__ellipse-text">{{i + 1}}</div>
          </div>
          <div class="info__title">{{advantage.title}}</div>
          <div class="info__description">
            {{advantage.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" id="order" #chooseElement>
  <div class="container">
    <div class="order__title">
      <h2>Выберите свой макарун</h2>
    </div>
    <div class="order-items">
      <div class="order__item" *ngFor="let macaroon of macaroons">
        <div class="order__image">
          <img src="../assets/images/{{macaroon.image}}" alt="macaroon">
        </div>
        <div class="order__name">{{macaroon.title}}</div>
        <div class="order__bottom">
          <div class="order__info">
            {{macaroon.description}}
          </div>
          <div class="order__action">
            <button class="btn order__btn" (click)="addToCard(macaroon, orderElement)" appButtonEffects>Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bottom" id="inputForm" #orderElement>
  <div class="container ">
    <div class="strawberry">
      <img src="../assets/images/pic9.png" alt="strawberry">
    </div>
    <div class="bottom__image">
      <img src="../assets/images/pic8.png" alt="macaroons">
    </div>
    <div class="bottom__second-part">
      <h2 class="bottom__title">Закажите макарун!</h2>
      <div class="bottom__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="bottom__inputs">
        <div class="first-input">
          <div class="bottom__inputs-text">Ваш выбор</div>
          <input type="text" placeholder="Напишите, что хотите заказать..." class="input" [(ngModel)]="formValue.productTitle">
          <div class="invalid" *ngIf="showErrors && !formValue.productTitle">Необходимо ввести заказ</div>
        </div>
        <div class="second-inputs">
          <div class="bottom__inputs-text">Заполните данные для заказа</div>
          <div>
            <input type="text" placeholder="Ваше имя" class="input" [(ngModel)]="formValue.name">
            <div class="invalid" *ngIf="showErrors && !formValue.name">Необходимо ввести имя</div>
          </div>
          <div>
            <input type="text" placeholder="+375 (__) ___ - __ - __" class="input margin-input" [(ngModel)]="formValue.phone">
            <div class="invalid" *ngIf="showErrors && !formValue.phone">Необходимо ввести номер телефона</div>
          </div>
        </div>
        <div class="bottom-action">
          <button type="button" class="btn bottom__btn" (click)="createOrder()" appButtonEffects>Оформить заказ</button>
        </div>
      </div>
    </div>
    <div class="strawberry-second">
      <img src="../assets/images/pic10.png" alt="strawberry">
    </div>
  </div>
</section>
<div class="success" id="done">
  <span>Спасибо за Ваш заказ. <br>Мы скоро свяжемся с Вами!</span>
</div>


<div class="gift-section" *ngIf="showPresent">
  <div class="gift-block">
    <div class="gift-text">
      Оформите заказ
      и получите подарок!
    </div>
    <div class="gift-arrow"></div>
  </div>
  <a class="gift" href="#">
    <img src="../assets/images/present.png" alt="present">
  </a>
</div>
<div class="loader">
  <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
